.lg-sub-html {
    .dateTitle {
        font-size: 14px;
        color: #FFF;
        font-weight: 300;

        .separator {
            margin-left: 5px;
            margin-right: 5px;
        }
        
        .filesize {
        }
    }

    .subtitle {
        font-size: 12px;
        color: #AAA;
        font-weight: 300;

        .separator {
            margin-left: 3px;
            margin-right: 3px;
        }
    }


}