@import "global";

$blue: #0f70e8;

body {    
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F0F0F0;
    
    @media #{$medium-up} {
    overflow-y: scroll;
    }
}

.pageContainer {
    width: upper-bound($medium-range);
    @media #{$medium-down} {
        width: 100%;
    }
    margin: 0 auto;
}

#topbar {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 70px;

    border-bottom: 1px solid #C7C7C7;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14);

    z-index: 10;

    h1 {
        font-family: "Suranna",serif;
        font-size: 40px;
        font-weight: 400;
        color: $blue;

        margin: 0;
        @media #{$small-only} {
            margin-left: 8px;
        }
        padding: 0;

        cursor: pointer;
    }

    #searchForm {
        border: 1px solid #AAA;
        height: 30px;
        margin-top: 20px;
        margin-right: 8px;
        line-height: 30px;

        @media #{$small-only} {
            margin-right: 8px;
        }

        input {
            border: none !important;
            height: 20px;
            margin-left: 8px;
            padding: 0;
            color: #888;
            outline: none;
        }
        button {
            background-color: #FFF;
            border: none !important;
            color: #999;
            box-shadow: none !important;
            line-height: 18px;
            font-size: 15px;
            height: 27px;

            padding-left: 2px;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            transform: scale(-1,1);

            cursor: pointer;       
            outline: none;     
        }
    }
}

#mainContent {
    margin-top: 70px;

    h2 {
        @media #{$medium-up} {
            padding-top: 30px;
            font-size: 35px;
        }
        @media #{$small-only} {
            padding-top: 20px;
            font-size: 25px;
        }
        color: #999;
        font-weight: 300;
        margin: 0;
    }

    #breadcrumb {
        list-style: none;
        padding: 0;
        margin-top: 0; 
        font-size: 15px;
        color: #909090;
        font-weight: 300;

        li {
            display: inline;

            &:not(:last-child)::after {
                content: ">";
            }

            a {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #folders-gallery {
        margin-bottom: 50px;
        font-size: 0;

        .folder {
            position: relative;
            z-index: 0;
            display: inline-block;
            margin: 5px 10px 5px 0px;
            @media #{$small-only} {
                margin-right: 5px;
            }

            padding: 0;
            background-position: center center; 
            background-repeat: none;
            background-size: cover;
            cursor: pointer;

            max-width: 45vw;
            max-height: 45vw;

            .legend {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

                background-color: rgba(0,0,0,0.5);
                font-size: 15px;
                color: #EEE;
                padding: 7px 10px;

                i {
                    margin-right: 3px;
                    font-size: 17px;
                }
            }
        }    
    }

    #pictures-gallery {
        font-size: 0;

        img {
            z-index: 0;
            padding: 0;
            margin: 0;
            background-position: center center; 
            background-repeat: none;
            background-size: cover;

            cursor: pointer;
        }
    }
}
