$blue: #0f70e8;

@import "global";
@import "topbar";
@import "content";
@import "lightgallery";
@import "banner";

body {    
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F0F0F0;

    @media #{$medium-up} {
        overflow-y: scroll;
    }
}

.pageContainer {
    width: upper-bound($medium-range);
    @media #{$medium-down} {
        width: 100%;
    }
    margin: 0 auto;
}
